
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap");

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: 'Barlow', sans-serif;
}

/* Start NV Section */
.header{

    height: 80px;
    width: 100%;
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    font-size: 20px;
    background-color: transparent;
}

#header a{ 
    text-decoration: none;
    color:black; 
    font-weight: bold;

}
#header .cta{
    display: inline-block;
}
#header .cta:hover {
    text-decoration: underline;
    color:#E6303D;
}
.nav {
    list-style: none;

}
.nav li{
    display:inline-block;
    padding: 5px 20px;
}

.container_1{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/COVER_2.gif);
    background-size: cover;
    
}
/* End NV Section */
/* Start why us Section */
.container_2{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/why_us.gif);  
    background-size: cover;
}
#why_us .why_us{
    flex-direction: row;
}
#why_us .col-left{
    margin-left: 200px;
}
#why_us .col-right{
    margin-right: 50%;
    padding: 60px;
    
    color: black;
    font-size: 20px;
    
}
h1 {
    font-weight: bold;
    font-size: 40px;
}

#why_us a{
    text-decoration: none;
    color:white; 
    background-color: black;
    font-weight: bold;
    border-radius:25px;
    padding: 6px 10px;
    
    
}
#why_us .cta:hover {
    color: white;
    background-color:#E6303D;
}

/* End why us Section */

/* Start what we Section */

.container_3{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
table {
    align-items: center;
    text-align: center;

}
#what_we p{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    text-align: justify;
}

/* End what we Section */
/* Start contact us  Section */
.container_4{
    padding-left:60px ;
    padding-top:100px;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-image: url(./img/contact.gif);  
    background-size: cover;
    align-items: center;

}
#contact_us p{
    text-align: center;
}
table {
    margin: 0 auto; }
#contact_us a{
    text-decoration: none;
    color:black; 
    font-weight: bold;
}

/* End Contact us Section */

/* Start Ending Section */

.container_5{
    padding-left:60px ;
    min-height: 10vh;
    width: 100%;
    background-color:#E6303D;
    opacity: 80%;
    padding-top:20px;
    color:white;
}

#ending p{
    text-align: center;
}


/* End Ending Section */

